{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>Event index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>StartTime</th>
                <th>Description</th>
                <th>Image</th>
                <th>Capacity</th>
                <th>ContactEmail</th>
                <th>ContactPhone</th>
                <th>Address</th>
                <th>URL</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.date }}</td>
                <td>{{ event.startTime ? event.startTime|date('H:i:s') : '' }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.image }}</td>
                <td>{{ event.capacity }}</td>
                <td>{{ event.contactEmail }}</td>
                <td>{{ event.contactPhone }}</td>
                <td>{{ event.address }}</td>
                <td>{{ event.URL }}</td>
                <td>{{ event.type }}</td>
                <td>
                    <a href="{{ path('app_event_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_event_new') }}">Create new</a>
{% endblock %}
