{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('style/styleIndex.css')}}">
{% endblock %}
{% block body %}
<div class="body">
    <h1 class="title">Our Events</h1>
    <div class="flex">
        {% for event in events %}
        <div class="card">
            <img src="{{event.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{event.name}}</h5>
            </div>
            <div class="list-group">
              <p class="list-group-item">Date : {{event.date}}</p>
              <p class="list-group-item">Place: {{event.address}}</p>
              <p class="list-group-item">More infos :                     <a id="show" href="{{ path('app_event_show', {'id': event.id}) }}">DETAILS</a>
              </p>
            </div>

          </div>
        {% else %}
    </div>
            <div class="norecord"> no events found</div>
        {% endfor %}
    </div>

{% endblock %}
