{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('style/styleIndex.css')}}">
{% endblock %}
{% block body %}
<div class="body">
    <h1 class="title">Our Events</h1>
    <div class="flex">
        {% for event in events %}
        <div class="card">
            <img src="{{event.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{event.name}}</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Date : {{event.date}}</li>
              <li class="list-group-item">Place: {{event.address}}</li>
              <li class="list-group-item">More infos :                     <a href="{{ path('app_event_show', {'id': event.id}) }}">show</a>
              </li>
            </ul>

          </div>
        {% else %}
    </div>
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
    </div>

{% endblock %}
