{% extends 'base.html.twig' %}

{% block title %}Event {{event.name}}{% endblock %}
{% block stylesheets %}

<link rel="stylesheet" href="{{asset('style/styleDetail.css')}}">
{% endblock %}
{% block body %}
<div id="body">
    <h1>{{event.name}} ({{event.type}})</h1>

        <div>
        <img src="{{event.image}}" alt="">
        </div>
        <div id="infos">
        <div>
            <h3>Description</h3>
            {{event.description}}
        </div>
        <div>
            <h3>Useful infos</h3>
            ADDRESS :
            {{event.address}} (capacity => {{event.capacity}}) <br>
            TIME :
            {{event.startTime|date('H:m')}}
        </div>
        <div>
            <h3>Contact</h3>
            Phone:{{event.contactPhone}} <br>
            Email:{{event.contactEmail}} <br> <br>
        </div>
        <div >
            Link to the website : <a id="link" href="{{event.URL}}">Website {{event.name}}</a>
        </div>
    </div>
<div id="blockbtn">
<a class="buttonEdit" href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>
<a class="buttonDelete" href="{{ path('app_event_delete', {'id': event.id}) }}">delete</a>
</div>


    {% endblock %}
